/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-mar-2019, 20:58:34
    Author     : axpos
*/
body {

#form {

}
#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;

}

#form p {
    text-align: center;

}

#form label {

    font-size: 30px;
    font-size: 2rem;
}

input[type="radio"] {
    display: none;

}

label {
    color: grey;
    font-size: 32px;
    font-size: 2rem;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;

}

label:hover,
label:hover ~ label {

    color: orange;
}

input[type="radio"]:checked ~ label {

    color: orange;
}
#boton {
    position:absolute;
    left: 70%;
    top: 385px;
    width: 160px;
    height: 60px;
}

#boton2 {
    position:relative;
    left: 10px;
    top: 10px;
    width: 100px;
    height: 40px;
}

#carta {

    top: 15px;
}
}