<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <data-source>
        <name>java:global/jdbc/Cinuja</name>
        <class-name>org.apache.derby.jdbc.ClientConnectionPoolDataSource</class-name>
        <server-name>localhost</server-name>
        <port-number>1527</port-number>
        <database-name>Cinuja</database-name>
        <user>flo</user>
        <password>flo</password>
        <initial-pool-size>2</initial-pool-size>
        <max-pool-size>10</max-pool-size>
        <min-pool-size>5</min-pool-size>
    </data-source>
    <security-constraint>
        <display-name>registro</display-name>
        <web-resource-collection>
            <web-resource-name>registro usuario</web-resource-name>
            <description/>
            <url-pattern>/perfil/registro</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <security-constraint>
        <display-name>login</display-name>
        <web-resource-collection>
            <web-resource-name>login</web-resource-name>
            <description/>
            <url-pattern>/perfil/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>non</role-name>
            <role-name>adm</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>peliculas</display-name>
        <web-resource-collection>
            <web-resource-name>borrar</web-resource-name>
            <description>borrar peliculas</description>
            <url-pattern>/pelicula/*/borrar</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>crear</web-resource-name>
            <description>crear peliculas</description>
            <url-pattern>/pelicula/crear</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>adm</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>cinuja</realm-name>
        <form-login-config>
            <form-login-page>/WEB-INF/jsp/login.jsp</form-login-page>
            <form-error-page>/WEB-INF/jsp/login.jsp?error=true</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Usuario sin roles</description>
        <role-name>non</role-name>
    </security-role>
    <security-role>
        <description>permisos de administrador</description>
        <role-name>adm</role-name>
    </security-role>
</web-app>
